.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@font-face {
    font-family: 'League Spartan Bold';
    font-style: normal;
    font-weight: normal;
    src: local('League Spartan Bold'), url('LeagueSpartan-Bold.woff') format('woff');
    }

@import url(//font.elice.io/EliceDigitalBaeum.css);

.eng {
        font-family: 'League Spartan Bold';
        text-align: center;
        color: #FFB3D9;
    }

.kor{
        font-family: "Elice Digital Baeum",sans-serif;
        text-align: center;
    }